/bin/
/war/
/doc/
/local_db.bin
/src/
/test-output/
/test.txt
/.classpath
/.gitignore
/.project
/.settings/
/CS352-20120071-MohamedSamir-Phase1-a.pdf
/CS352-20120071-MohamedSamir-Phase1-b.pdf
/CS352-20120071-MohamedSamir-Phase1-c.pdf
/CS352-20120071-MohamedSamir-Phase2-a.pdf
/README.md
/com/
/datastore-indexes-auto.xml
